/* [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  [type=radio] + img {
    cursor: pointer;
  }
  
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  } */

  .image {
    width: 100%
  }
  
  .orderPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black;
    border-style: double;
    margin: 40px;
    background-color: whitesmoke;
  }

  h2 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
  }
  .form-group {
      display: flex;
      flex-direction: row;
      font-size: 30px;
      align-items: center;
      justify-content: space-evenly;
      padding: 20px;
      font-family: 'Playfair Display', serif;
  }

  .h3 {
      font-size: 30px;
      font-family: 'Playfair Display', serif;
  }

  .card {
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin: 30px;
      align-items: center;
      justify-content: center;
  }

  .form-control {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
  }

  .button {
    font-size: 40px;
    cursor: pointer;
  }