/* [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  [type=radio] + img {
    cursor: pointer;
  }
  
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  } */

  .image {
    width: 100%
  }
  
  .orderPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
  }
  .form-group {
      display: flex;
      flex-direction: row;
  }
  .card {
      display: flex;
      flex-direction: column;
      padding: 10px
  }