.navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    color: black;
    height: max-content;
    font-size: 20px;
    justify-content: space-between;
}

.navbar__item {
    flex-basis: auto;
    list-style-type: none;

    padding: 10px;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
  }

.logo {
  flex: .15 1 0;
  margin: none;
  padding: 10px;
}

  